<%- include('includes/header'); -%>
<%- include('includes/nav'); -%>

<div class="container">

<div class="mx-auto" style="width: 50rem;">

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    
  </head>
  <body>

 

    <br></br>

    <blockquote class="blockquote text-center">
      <h3>레벨테스트 결과</h3>
    </blockquote>
    
  
   
  
<br></br>
    <div class="mx-auto" style="width: 1550px;">
            <div class="card w-50">
                    <div class="card text-center">
                          
                     
                      <br>

                      <p class="card-text"> <h3>당신의 레벨은 <%= result %>입니다. </h3></p>
        
                     
        
                      

                    </div>
                  </div>
          </div>

        <br>
        </br>

        <div class="mx-auto" style="width: 300px;">
                
               
         
          <a class="btn btn-lg btn-primary" href="sugang" role="button">수강신청 하러가기</a>
          <a class="btn btn-secondary btn-lg" href="test" role="button">뒤로가기</a>

        </div>
 
          

            </div>
          </div>

    


</body>
</html>
    <%- include('includes/footer'); -%>