<%- include('includes/header'); -%>
<%- include('includes/nav'); -%>

<div class="container">

<div class="mx-auto" style="width: 50rem;">
    
  <br>

    <button type="button" class="btn btn-secondary">요일 선택</button> * 주 3회

    <br>
    <br>

    <button type="button" class="btn btn-light" data-toggle="button" aria-pressed="false">월</button>
    <button type="button" class="btn btn-light" data-toggle="button" aria-pressed="false">화</button>
    <button type="button" class="btn btn-light" data-toggle="button" aria-pressed="false">수</button>
    <button type="button" class="btn btn-light" data-toggle="button" aria-pressed="false">목</button>
    <button type="button" class="btn btn-light" data-toggle="button" aria-pressed="false">금</button>
    <button type="button" class="btn btn-light" data-toggle="button" aria-pressed="false">토</button>
    <button type="button" class="btn btn-light" data-toggle="button" aria-pressed="false">일</button>
    
    <br>
    <br>
    
    <button type="button" class="btn btn-secondary">시간 선택</button>

    <br>
    <br>

  
    <div class="btn-group">
    <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Select Time
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">9:00</a>
      <a class="dropdown-item" href="#">10:00</a>
      <a class="dropdown-item" href="#">11:00</a>
      <a class="dropdown-item" href="#">12:00</a>
      <a class="dropdown-item" href="#">13:00</a>
      <a class="dropdown-item" href="#">14:00</a>
      <a class="dropdown-item" href="#">15:00</a>
      <a class="dropdown-item" href="#">16:00</a>
      <a class="dropdown-item" href="#">17:00</a>
      <a class="dropdown-item" href="#">18:00</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">other time</a>
    </div>
  </div>

  <br>
  <br>
  <button type="button" class="btn btn-secondary">레벨 선택</button>    * 자신의 수준에 맞는 강의를 듣기를 권장합니다.
 <br>
 <br>
 <button type="button" class="btn btn-light" data-toggle="button" aria-pressed="false">A</button>
 <button type="button" class="btn btn-light" data-toggle="button" aria-pressed="false">B</button>
 <button type="button" class="btn btn-light" data-toggle="button" aria-pressed="false">C</button>
 <button type="button" class="btn btn-light" data-toggle="button" aria-pressed="false">D</button>
 <button type="button" class="btn btn-light" data-toggle="button" aria-pressed="false">E</button>


    <p class="text-xl-left"></p>
    <br>
    <a class="btn btn-dark" href="welldone" role="button"> 수업 신청하기 </a>

    <%- include('includes/footer'); -%>