<%- include('includes/header'); -%>
<%- include('includes/nav'); -%>

<div class="container">

<div class="mx-auto" style="width: 50rem;">

  <br><br>
    <div class="alert alert-primary" role="alert">
        <h4 class="alert-heading">READY TO GO!</h4>
        <p>성공적으로 수강신청이 완료되었습니다. 나의 강의실을 확인해주세요!</p>
        <hr>
        <p class="mb-0">자세한 문의사항은 고객센터를 이용해 주세요.</p>
      </div>


    <%- include('includes/footer'); -%>